
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Games</h1>
        <table class="table table-striped">
          <thead>
          <th>Name</th>
          <th>Platform</th>
          <th>Genre</th>
          <th>Condition</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr ng-repeat="game in gamesCtrl.allGames">
              <td>
                  <span data-ng-hide="game.editMode === true">{{game.name}}</span>
                  <span data-ng-show="game.editMode === true"><input type="text" class="" value="{{game.name}}" /></span>
              </td>
              <td>
                  <span data-ng-hide="game.editMode === true">{{game.platform}}</span>
                  <span data-ng-show="game.editMode === true"><input type="text" class="" value="{{game.platform}}" /></span>
              </td>
              <td>
                  <span data-ng-hide="game.editMode === true">{{game.genre}}</span>
                  <span data-ng-show="game.editMode === true"><input type="text" class="" value="{{game.genre}}" /></span>
              </td>
              <td>
                  <span data-ng-hide="game.editMode === true">{{game.condition}}</span>
                  <span data-ng-show="game.editMode === true"><input type="text" class="" value="{{game.condition}}" /></span>
              </td>
              <td>
                <span data-ng-hide="game.editMode === true">
                    <button class="btn btn-success" ng-click="gamesCtrl.toggleEditGame($index)">Edit</button>
                    <button class="btn btn-danger" ng-click="gamesCtrl.removeGame($index)">Delete</button>
                </span>
                <span data-ng-show="game.editMode === true">
                    <button class="btn btn-primary" ng-click="gamesCtrl.saveGame($index)">Save</button>
                    <button class="btn btn-default" ng-click="gamesCtrl.cancelEditMode($index)">Cancel</button>
                </span>
              </td>
          </tr>
          <tr>
              <td><input type="text" ng-model="gamesCtrl.newGame.name" /></td>
              <td><input type="text" ng-model="gamesCtrl.newGame.platform" /></td>
              <td><input type="text" ng-model="gamesCtrl.newGame.genre" /></td>
              <td><input type="text" ng-model="gamesCtrl.newGame.condition" /></td>
              <td><button class="btn btn-primary" data-ng-click="gamesCtrl.addNewGame();">Add</button></td>
          </tr>
          </tbody>
        </table>
        <div uib-alert class="alert-danger" ng-if="gamesCtrl.errorNewGame">{{gamesCtrl.errorNewGame}}</div>
    </div>
  </div>
</div>